/*
* Main Color Palette
*/

$purple-active: #501fa0;
$purple-hover: #6935bd;
$purple-t: #55398296;
$purple: #553982;
$magenta-active: #9c00b5;
$magenta-hover: #cc1ce8;
$magenta: #e22eff;
$white-t: #ffffff4f;
$white: #ffffff;
$red: #a70040;

/*
 * Social Media Color Palette
 */

$google-cc: #de5246;
$facebook-cc: #3b5998;

$facebook-hover: #665c68;
$facebook: #e649ff;

$linkedin-hover: #d02d8f;
$linkedin: #ff50b9;

$telegram-hover: #dc3246;
$telegram: #ff5065;

$twitter-hover: #dc32d6;
$twitter: #ff50f8;

$xing-hover: #b034dd;
$xing: #d150ff;
