@import "@/utilities/variables.scss";

#Legal {
    display: grid;
    grid-area: view;
    grid-template-rows: auto 175px;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    grid-template-areas:
        "main main"
        "footer footer";

    main {
        background-color: $purple-t;
        border-radius: 0 0 3px 3px;
        border: 1px solid $purple-t;
        border-top: 0;
        color: $white;
        grid-area: main;
        padding: 2em;
        width: 100%;

        .el-tabs__item:not(.is-active) {
            color: $white !important;
        }

        p {
            margin-top: 5px;
        }

        .picture-rights {
            li {
                margin-left: 2em;
                list-style-type: "©";

                .text {
                    margin-left: 1em;
                }
            }
        }
    }
}
