@import "@/utilities/variables.scss";

@media only screen and (min-width: 2500px) {
    #Main {
        nav {
            display: flex;
            justify-content: center;

            .content {
                width: 1780px;
            }
        }
    }
}

@media only screen and (max-width: 1660px) {
    #Main {
        padding: 0 !important;

        nav {
            border-radius: 0 !important;

            .content {
                width: 95% !important;
            }
        }

        footer {
            border-radius: 0 !important;
        }
    }
}
// Hide Burger-Menu when screen > 1300px
@media only screen and (min-width: 1400px) {
    #Main {
        nav .content .burger-menu {
            display: none !important;
        }
    }
}
// Hide Links when screen < 1300px
@media only screen and (max-width: 1400px) {
    #Main {
        nav {
            .content {
                grid-template-areas: "logo player burgermenu" !important;

                .links {
                    display: none !important;
                }
            }
        }
    }
}

@media only screen and (max-width: 1050px) {
    #Main {
        grid-template-rows: 80px auto 1fr !important;
        row-gap: 1em;
        grid-template-areas:
            "nav"
            "playerresp"
            "view" !important;

        nav .content .player {
            display: none !important;
        }

        .player-resp {
            display: grid !important;
            grid-area: playerresp !important;
            background-color: $purple-t;
            border: 1px solid $purple-t;
            min-height: 80px;
            padding: 0 2em;
            width: 100%;
            grid-template-areas: "musicplayer volumecontrol";
            grid-template-columns: 1fr 145px;
            column-gap: 2em;
        }
    }
}

@media only screen and (max-width: 660px) {
    #Main {
        nav .content {
            grid-template-columns: 1fr 48px !important;
            grid-template-areas: "logo burgermenu" !important;
        }

        .player-resp {
            min-height: 100px;
            grid-template-columns: 1fr !important;
            grid-template-rows: 1fr !important;
            grid-template-areas:
                "musicplayer" !important;

            .md-icon {
                font-size: 36pt !important;
            }
            
            .VolumeControl {
                display: none !important;
            }
        }
    }
}

@media only screen and (max-width: 455px) {
    #Main .el-dialog {
        height: 100%;
        border-radius: 0 !important;
    }
}

#Main {
    display: grid;
    grid-template-rows: 80px 1fr;
    height: 100vh;
    padding: 0 10%;
    grid-template-areas:
        "nav"
        "view";

    .player-resp {
        display: none;
    }

    nav {
        background-color: $purple-t;
        border-radius: 0 0 20px 20px;
        border: 1px solid $purple-t;
        height: 80px;
        inset: 0 0 auto 0;
        position: fixed;
        grid-area: nav;
        width: 100%;

        .content {
            align-items: center;
            display: grid;
            grid-template-areas: "logo player links";
            margin: 0 auto;
            width: 80%;
            grid-template-rows: 80px;
            column-gap: 1em;

            .volume-control-resp {
                display: none;
                grid-area: volumeresp;
            }

            .md-icon {
                color: white;
                font-size: 26pt !important;
            }

            .burger-menu {
                cursor: pointer;
                grid-area: burgermenu;
                margin: 0 1em 0 auto;

                * {
                    font-size: 28pt !important;
                }
            }

            .logo {
                align-items: center;
                display: flex;
                grid-area: logo;
                height: 60%;
                text-decoration: none;

                img {
                    height: 100%;
                    transform: rotate(-10deg);
                }
            }

            .title {
                align-items: center;
                color: white;
                cursor: pointer;
                display: flex;
                flex-direction: column;
                font-size: 12pt;
                text-transform: uppercase;
                user-select: none;

                .highlight {
                    color: $magenta;
                    font-family: "CoachingAirline", "Roboto";
                    font-size: 13pt;
                    text-align: right;
                }

                :not(.highlight) {
                    font-size: 30pt;
                    font-weight: 900;
                    letter-spacing: 8px;
                    line-height: 30px;
                    margin-left: 10px;
                }

                a {
                    color: $white !important;
                    text-decoration: none !important;
                }
            }

            .player {
                align-items: center;
                color: white;
                display: grid;
                font-family: "Roboto Light";
                height: 100%;
                min-width: 625px;
                grid-area: player;
                grid-template-areas: "musicplayer volumecontrol";
                grid-template-columns: 1fr 145px;
                column-gap: 2em;
            }

            .links {
                font-family: "Roboto Light";
                font-size: 12pt;
                margin-left: auto;
                text-transform: uppercase;
                grid-area: links;

                ul {
                    display: flex;
                    flex-direction: row;
                    list-style: none;

                    li {
                        min-width: 100px;

                        .link {
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            i {
                                font-size: 25pt !important;
                            }

                            span {
                                margin-top: 10px;
                            }
                        }

                        a {
                            color: white;
                            text-decoration: none;
                        }

                        & + li {
                            margin-left: 25px;
                        }
                    }
                }
            }
        }
    }

    .drawer {
        .el-drawer {
            background-color: $purple-dark;
            font-size: 16pt;
            text-transform: uppercase;
            min-width: 300px;
        }

        header,
        .el-drawer__body,
        .el-drawer__title,
        a {
            color: $white;
        }

        .el-icon-close {
            font-size: 24pt;
        }

        a {
            min-height: 100%;
            min-width: 100%;
        }

        .list {
            color: white;
            font-size: 16pt;
            text-transform: uppercase;

            .link {
                .md-icon {
                    font-size: 24pt !important;
                    color: $white;
                    margin-right: 1em;
                }

                span {
                    margin: auto 0;
                }
            }

            .list-item {
                padding: .75em 1em;
                border-left: 5px solid transparent;
                margin: 5px;
                border-radius: 5px;
                transition: background-color 150ms ease, color 150ms ease;

                .md-icon {
                    transition: color 150ms ease;
                }

                &.active {
                    background-color: $magenta-disabled;
                    color: $purple-dark;

                    .md-icon {
                        color: $purple-dark;
                    }
                }

                &:hover:not(.active) {
                    color: $magenta-disabled;

                    .md-icon {
                        color: $magenta-disabled;
                    }
                }
            }
        }
    }

    .login-dialog {
        display: flex;
        transition: height ease 200ms;

        .title,
        .el-form-item__label,
        .el-tabs__item:not(.is-active) {
            color: $white;
        }

        .el-dialog {
            background-color: $purple;
            border-radius: 8px;
            box-shadow: 0 0 20px 0 black;
            margin-bottom: auto;
            margin-top: auto !important;
            overflow: hidden;
            width: 450px;

            .side-image {
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width: 50px;

                img {
                    height: 100%;
                    object-fit: cover;
                    object-position: -280px;
                }
            }

            .header {
                font-size: 16pt;
                font-family: "Roboto Regular";
                text-transform: uppercase;
                display: flex;
                margin-left: 50px;
                justify-content: left;
                align-items: center;

                .title {
                    display: flex;
                    flex-direction: column;
                }

                .subtitle {
                    font-size: 10pt;
                    color: $magenta-disabled;
                    text-transform: initial;
                    font-style: italic;
                }

                .bold {
                    font-family: "Roboto Black";

                    .highlight-text {
                        color: $magenta;
                        font-family: "Roboto Regular";
                        margin-right: 5px;
                    }
                }

                .login-icon {
                    color: $white;
                    font-size: 38pt !important;
                    width: 50px !important;
                    margin: 0 15px 0 0;
                }
            }

            .form {
                display: flex;
                flex-direction: column;
                margin-top: -30px;
                margin-left: 50px;

                .links {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 1em;
                }

                .profile-label {
                    float: initial;
                }

                .upload-profile {
                    border: 5px dashed $white;
                    border-radius: 6px;
                    color: $white;
                    display: grid;
                    font-size: 46pt;
                    height: 200px;
                    place-items: center;
                    width: 200px;
                    margin: 0 auto 0 auto;
                    cursor: pointer;
                }

                .upload-button {
                    width: 100%;
                    margin: 15px 0;
                }
            }

            .button-group {
                margin-top: -40px;
            }
        }
    }
}
