@import "@/utilities/variables.scss";

@media only screen and (min-width: 2500px) {
    #Main {
        nav {
            display: flex;
            justify-content: center;

            .content {
                width: 1780px;
            }
        }
    }
}

@media only screen and (max-width: 1660px) {
    #Main {
        padding: 0 !important;

        nav {
            border-radius: 0 !important;

            .content {
                width: 95% !important;
            }
        }

        footer {
            border-radius: 0 !important;
        }
    }
}
// Hide Burger-Menu when screen > 1300px
@media only screen and (min-width: 1400px) {
    #Main {
        nav .content .burger-menu {
            display: none !important;
        }
    }
}
// Hide Links when screen < 1300px
@media only screen and (max-width: 1400px) {
    #Main {
        nav {
            .content {
                grid-template-areas: "logo player burgermenu" !important;

                .links {
                    display: none !important;
                }
            }
        }
    }
}

@media only screen and (max-width: 1050px) {
    #Main {
        grid-template-rows: 160px 1fr !important;

        nav {
            height: 160px !important;

            .content {
                gap: 0 !important;
                grid-template-rows: 80px 80px !important;
                grid-template-areas:
                    "logo burgermenu"
                    "player player" !important;

                .player {
                    margin: 0 auto;
                }
            }
        }
    }
}

@media only screen and (max-width: 660px) {
    #Main nav .content {
        grid-template-columns: 1fr 2fr 24px !important;
        grid-template-areas:
            "logo volumeresp burgermenu"
            "player player player" !important;

        .volume-control-resp {
            display: flex !important;
        }

        .player {
            grid-template-columns: 24px 1fr 24px !important;
            grid-template-areas: "play playergroup openplayer" !important;

            #volume-control {
                display: none !important;
            }
        }
    }
}

#Main {
    display: grid;
    grid-template-rows: 80px 1fr;
    height: 100vh;
    padding: 0 10%;
    grid-template-areas:
        "nav"
        "view";

    nav {
        background-color: $purple-t;
        border-radius: 0 0 20px 20px;
        border: 1px solid $purple-t;
        height: 80px;
        inset: 0 0 auto 0;
        position: fixed;
        grid-area: nav;

        .content {
            align-items: center;
            display: grid;
            grid-template-areas: "logo player links";
            margin: 0 auto;
            width: 80%;
            grid-template-rows: 80px;
            column-gap: 1em;

            .volume-control-resp {
                display: none;
                grid-area: volumeresp;
            }

            .md-icon {
                color: white;
                font-size: 24pt !important;
            }

            .burger-menu {
                cursor: pointer;
                grid-area: burgermenu;
                margin-left: auto;

                * {
                    font-size: 28pt !important;
                }
            }

            .logo {
                align-items: center;
                display: flex;
                grid-area: logo;
                height: 60%;
                text-decoration: none;

                img {
                    height: 100%;
                    transform: rotate(-10deg);
                }
            }

            .title {
                align-items: center;
                color: white;
                cursor: pointer;
                display: flex;
                flex-direction: column;
                font-size: 12pt;
                text-transform: uppercase;
                user-select: none;

                .highlight {
                    color: $magenta;
                    font-family: "CoachingAirline", "Roboto";
                    font-size: 13pt;
                    text-align: right;
                }

                :not(.highlight) {
                    font-size: 30pt;
                    font-weight: 900;
                    letter-spacing: 8px;
                    line-height: 30px;
                    margin-left: 10px;
                }

                a {
                    color: $white !important;
                    text-decoration: none !important;
                }
            }

            .player {
                align-items: center;
                color: white;
                display: grid;
                font-family: "Roboto Light";
                height: 100%;
                min-width: 625px;
                grid-area: player;
                grid-template-areas: "play playergroup openplayer volumecontrol";
                grid-template-columns: 24px 1fr 24px 145px;
                column-gap: 2em;

                .play-button {
                    grid-area: play;
                    cursor: pointer;
                }

                .player-group {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    position: relative;
                    width: 100%;
                    grid-area: playergroup;
                    min-width: 300px;

                    .on-air-indicator {
                        position: absolute;
                        right: 0;
                        top: -4px;
                        padding: 2px 5px;
                        border-radius: 5px;

                        &.live {
                            background-color: $red;
                        }

                        &.online {
                            background-color: $magenta;
                        }

                        &.offline {
                            background-color: $white-t;
                        }
                    }

                    .song {
                        font-size: 12pt;
                    }

                    .info {
                        color: white;
                        display: flex;
                        justify-content: space-between;
                    }
                }

                .open-player-button {
                    grid-area: openplayer;
                }
            }

            .links {
                font-family: "Roboto Light";
                font-size: 12pt;
                margin-left: auto;
                text-transform: uppercase;
                grid-area: links;

                ul {
                    display: flex;
                    flex-direction: row;
                    list-style: none;

                    li {
                        min-width: 100px;

                        .link {
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            i {
                                font-size: 25pt !important;
                            }

                            span {
                                margin-top: 10px;
                            }
                        }

                        a {
                            color: white;
                            text-decoration: none;
                        }

                        & + li {
                            margin-left: 25px;
                        }
                    }
                }
            }
        }
    }

    .drawer {
        .el-drawer {
            background-color: $purple;
            font-size: 16pt;
            text-transform: uppercase;
            min-width: 300px;
        }

        header,
        .el-drawer__body,
        .el-drawer__title,
        a {
            color: $white;
        }

        .el-icon-close {
            font-size: 24pt;
        }

        a {
            min-height: 100%;
            min-width: 100%;
        }

        .list {
            color: white;
            font-size: 16pt;
            text-transform: uppercase;

            .link {
                .md-icon {
                    font-size: 24pt !important;
                    color: $white;
                    margin-right: 1em;
                }

                span {
                    margin: auto 0;
                }
            }

            .list-item {
                padding: 1em;
                border-left: 5px solid transparent;
                margin: 5px;
                border-radius: 5px;

                &.active {
                    background-color: $white;
                    color: $purple;

                    .md-icon {
                        color: $purple;
                    }
                }

                &:hover:not(.active) {
                    background-color: $white-t;
                }
            }
        }
    }

    .login-dialog {
        display: flex;
        transition: height ease 200ms;

        .title,
        .el-form-item__label,
        .el-tabs__item:not(.is-active) {
            color: $white;
        }

        .el-dialog {
            background-color: $purple;
            border-radius: 8px;
            box-shadow: 0 0 20px 0 black;
            margin-bottom: auto;
            margin-top: auto !important;
            overflow: hidden;
            width: 450px;

            .side-image {
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width: 50px;

                img {
                    height: 100%;
                    object-fit: cover;
                    object-position: -280px;
                }
            }

            .title {
                font-size: 16pt;
                font-family: "Roboto Regular";
                text-transform: uppercase;
                margin-left: 50px;

                .bold {
                    font-family: "Roboto Black";
                    margin-right: 10px;
                }

                .login-icon {
                    color: $white;
                    margin-left: 23px;
                    transform: scale(2) translateX(-30%);
                }

                .subtitle {
                    font-size: 11pt;
                    margin-left: 66px;
                    color: $magenta;
                    margin-top: -5px;
                    text-transform: uppercase;
                }
            }

            .form {
                display: flex;
                flex-direction: column;
                margin-top: -30px;
                margin-left: 50px;

                .links {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 1em;
                }

                .profile-label {
                    float: initial;
                }

                .upload-profile {
                    border: 5px dashed $white;
                    border-radius: 6px;
                    color: $white;
                    display: grid;
                    font-size: 46pt;
                    height: 200px;
                    place-items: center;
                    width: 200px;
                    margin: 0 auto 0 auto;
                    cursor: pointer;
                }

                .upload-button {
                    width: 100%;
                    margin: 15px 0;
                }
            }

            .button-group {
                margin-top: -40px;
            }
        }
    }
}
