@import "@/utilities/variables.scss";

#not-found {
    display: grid;
    grid-area: view;
    grid-template-areas:
        "main main"
        "footer footer";
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    width: 100%;

    main {
        align-items: center;
        background-color: $purple-t;
        border: 1px solid $purple-t;
        border-radius: 0 0 3px 3px;
        border-top: 0;
        color: $white;
        display: flex;
        flex-direction: column;
        grid-area: main;
        height: 100%;
        padding: 2em;
        width: 100%;

        .logo {
            text-align: center;

            img {
                width: 300px;
            }
        }

        .split-section {
            column-gap: 1em;
            display: grid;
            grid-template-columns: 1fr 1fr;
            place-items: center;

            .title {
                font-family: "Roboto Black";
                font-size: 150pt;
                line-height: 150pt;
                text-align: center;
                text-transform: uppercase;
            }

            .right-side {
                position: relative;
                display: flex;
                flex-direction: column;

                .subtitle {
                    font-size: 20pt;
                    margin-bottom: 1em;
                    text-align: center;
                }

                .desc {
                    color: $white;
                    font-family: "Roboto Light";
                    font-size: 12pt;
                    margin: 0 auto;
                    max-width: 250px;
                    text-align: center;
                }

                .return-home {
                    margin: 1em auto 0 auto;
                }
            }
        }
    }
}
