@import "@/utilities/variables.scss";

#volume-control {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-left: 25px;

    .volume-icon {
        cursor: pointer;
        display: flex;
        justify-content: left;
        font-size: 18pt;
        width: 30px;
    }

    .volume-bar {
        align-items: center;
        display: flex;
        margin: 0 20px 0 15px;
        position: relative;
        width: 100px;

        .volume-slider {
            -webkit-appearance: none !important;
            appearance: none !important;
            width: 100%;
            height: 2px;
            background-color: $white;
            margin: 7px 0;
            outline: none;
            border-radius: 3px;

            &::-webkit-slider-runnable-track {
                z-index: 100 !important;
            }

            &::-webkit-slider-thumb {
                -webkit-appearance: none !important;
                appearance: none !important;
                height: 12px;
                width: 12px;
                background-color: $white;
                border-radius: 50%;
                cursor: pointer;
            }
        }

        .bar {
            background-color: purple;
            border-radius: 4px 0 0 4px;
            height: 7px;
            position: absolute;
            z-index: 99;
        }
    }
}
