#volume-control {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-left: 25px;

    [class*="volume-"] {
        cursor: pointer;
    }

    .volume-bar {
        align-items: center;
        display: flex;
        margin: 0 20px 0 15px;
        position: relative;
        width: 100px;

        .track {
            background-color: white;
            border-radius: 1px;
            height: 2px;
            position: absolute;
            width: 100%;
        }

        .bar {
            background-color: purple;
            border-radius: 4px;
            height: 7px;
            position: absolute;
            width: 50%;
        }

        .handle {
            background-color: white;
            border-radius: 7px;
            height: 12px;
            left:50%;
            position: absolute;
            transform: translate(-50%, 0);
            width: 12px;
        }
    }
}
