@import "@/utilities/variables.scss";

@media only screen and (max-width: 1300px) {
    #Footer .content {
        grid-template-columns: 2fr 1fr 1fr !important;
        grid-template-areas:
            "contact modportal otherinfo"
            "contact socialmedia otherinfo" !important;
    }
}

@media only screen and (max-width: 1036px) {
    #Footer {
        .content {
            grid-template-rows: 1fr 1fr 1fr !important;
            grid-template-columns: 1fr 1fr !important;
            grid-template-areas:
                "contact contact"
                "socialmedia otherinfo"
                "modportal modportal" !important;
        }
    }
}

@media only screen and (max-width: 600px) {
    #Footer {
        height: 500px;

        .content {
            grid-template-rows: 1fr 1fr 1fr 1fr !important;
            grid-template-columns: 1fr !important;
            grid-template-areas:
                "contact"
                "socialmedia"
                "otherinfo"
                "modportal" !important;

            .contact .options {
                grid-template-areas:
                    "address"
                    "digital" !important;
                grid-template-columns: 1fr !important;

                .option {
                    margin: 0 !important;
                    border: 0 !important;

                    + .option {
                        padding-top: 5px;
                        border-top: 1px solid $white-t !important;
                        margin-top: 5px !important;
                    }
                }
            }
        }
    }
}

#Footer {
    background-color: $purple-t;
    border-radius: 3px 3px 0 0;
    border: 1px solid $purple-t;
    border-bottom: 0;
    bottom: 0;
    color: $white;
    grid-area: footer;
    margin-top: 1em;

    .content {
        display: grid;
        gap: 1em 2em;
        grid-template-areas: "contact modportal socialmedia otherinfo";
        grid-template-columns: 35% 20% 20% 25%;
        grid-template-rows: 50% 50%;
        height: 100%;
        padding-bottom: 10px;
        padding: 2em;
        width: 100%;

        section {
            .title {
                display: flex;
                flex-direction: column;
                font-size: 14pt;
                margin-bottom: 10px;

                .md-icon {
                    color: $white;
                }

                .rights {
                    font-size: 8pt;

                    .md-icon {
                        color: $white;
                        font-size: 6pt;
                    }
                }
            }

            &.contact {
                grid-area: contact;

                .options {
                    display: grid;
                    grid-template-columns: 1fr 1.5fr;
                    grid-template-areas: "address digital";

                    .option {
                        display: flex;
                        flex-direction: column;

                        &.address {
                            border-right: 1px solid $white-t;
                            grid-area: address;
                        }

                        &.digital {
                            grid-area: digital;
                        }

                        .line {
                            display: flex;

                            .highlight {
                                font-weight: 500;
                                width: 60px;
                            }
                        }

                        + .option {
                            margin-left: 1em;
                        }
                    }
                }
            }

            &.social-media {
                grid-area: socialmedia;

                .links {
                    display: flex;
                    font-size: 24pt;
                    margin-top: 0.35em;

                    .link {
                        height: 25px;
                        margin-right: 20px;
                    }
                }
            }

            &.mod-portal {
                grid-area: modportal;
                font-size: 14pt;

                .el-button {
                    margin-top: 10px;
                    width: 200px;
                }
            }

            &.other-info {
                grid-area: otherinfo;
                font-size: 12pt;

                .info {
                    margin-top: 10px;
                }
            }
        }
    }
}
