@import "@/utilities/variables.scss";

.MusicPlayer {
    align-items: center;
    color: white;
    column-gap: 2em;
    display: grid;
    font-family: "Roboto Light";
    grid-area: musicplayer;
    grid-template-areas: "playbutton playergroup openplayer";
    grid-template-columns: 24px 1fr 24px;
    height: 100%;

    .md-icon {
        color: white !important;
        font-size: 24pt !important;
    }

    .play-button {
        cursor: pointer;
        grid-area: playbutton;
    }

    .player-group {
        display: flex;
        flex-direction: column;
        grid-area: playergroup;
        justify-content: space-between;
        position: relative;
        width: 100%;

        .top-line {
            display: grid;
            grid-template-columns: 1fr 67px;
            place-items: end start;
            column-gap: 1em;

            .song {
                font-size: 12pt;
            }

            .on-air-indicator {
                height: 24px;
                border-radius: 5px;
                padding: 2px 5px;
                text-align: center;
                width: 100%;
    
                &.live {
                    background-color: $red;
                }
    
                &.online {
                    background-color: $magenta;
                }
    
                &.offline {
                    background-color: $white-t;
                }
            }

        }


        .info {
            color: white;
            display: flex;
            justify-content: space-between;
        }
    }

    .seperation-bar {
        background-color: $white;
        border-radius: 3px;
        height: 2px;
        margin: 7px 0;
        width: 100%;
    }

    .open-player-button {
        grid-area: openplayer;
    }
}
