@import "@/utilities/variables.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
}
#app {
    background-attachment: fixed;
    background-image: linear-gradient(to top, #170048ce, #170048ce),
        url("assets/images/background.jpg");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;

    img {
        user-select: none !important;
    }

    a {
        color: $magenta;
    }

    /* Scrollbar */

    // width
    ::-webkit-scrollbar {
        border-radius: 3px;
        width: 10px;
    }

    // Track
    ::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 5px;
    }

    // Handle
    ::-webkit-scrollbar-thumb {
        background: $magenta;
        border-radius: 5px;
    }

    // Handle on hover
    ::-webkit-scrollbar-thumb:hover {
        background: $magenta-hover;
        border-radius: 5px;
    }

    /* Selection Color */

    ::-moz-selection {
        /* Code for Firefox */
        color: white;
        background: $purple;
    }

    ::selection {
        color: white;
        background: $purple;
    }
}

.el-button--accent {
    background-color: $purple !important;
    border-color: $purple !important;

    &:hover {
        background-color: $purple-hover !important;
        border-color: $purple-hover !important;
    }

    &:active {
        background-color: $purple-active !important;
        border-color: $purple-active !important;
    }
}
