@import "@/utilities/variables.scss";

#progress-bar {
    align-items: center;
    display: flex;
    position: relative;
    width: 100%;

    .slider{
        -webkit-appearance: none !important;
        appearance: none !important;
        background-color: $white;
        border-radius: 3px;
        height: 2px;
        margin: 7px 0;
        outline: none;
        width: 100%;

        &::-webkit-slider-thumb {
            -webkit-appearance: none !important;
            appearance: none !important;
            background-color: $white;
            border-radius: 50%;
            height: 12px;
            width: 12px;
        }

        &::-webkit-slider-runnable-track {
            z-index: 100 !important;
        }
    }

    .bar {
        background-color: purple;
        border-radius: 4px 0 0 4px;
        height: 7px;
        position: absolute;
        z-index: 99;
    }

    // height: 7px;
    // margin-top: 7px;
    // position: relative;

    // .track {
    //     background-color: white;
    //     border-radius: 1px;
    //     height: 2px;
    //     position: absolute;
    //     top: 1px;
    //     width: 100%;
    // }

    // .handle {
    //     background-color: white;
    //     border-radius: 7px;
    //     height: 12px;
    //     position: absolute;
    //     top: -4px;
    //     transition: left ease 500ms;
    //     width: 12px;
    // }
}
