#progress-bar {
    height: 7px;
    margin-top: 7px;
    position: relative;

    .track {
        background-color: white;
        border-radius: 1px;
        height: 2px;
        position: absolute;
        top: 1px;
        width: 100%;
    }

    .bar {
        background-color: purple;
        border-radius: 4px 0 0 4px;
        height: 100%;
        position: absolute;
    }

    .handle {
        background-color: white;
        border-radius: 7px;
        height: 12px;
        position: absolute;
        top: -4px;
        transition: left ease 500ms;
        width: 12px;
    }
}
