@import "@/utilities/variables.scss";

@keyframes animateout {
    50% {
        left: 4em;
    }
    100% {
        left: -600px;
    }
}

@keyframes animatein {
    50% {
        left: 4em;
    }
    100% {
        left: 2em;
    }
}

@media screen and (max-width: 565px) {
    @keyframes animateout-resp-565 {
        50% {
            bottom: 4em;
        }
        100% {
            bottom: -600px;
        }
    }

    @keyframes animatein-resp-565 {
        50% {
            bottom: 4em;
        }
        100% {
            bottom: 0;
        }
    }

    #CookieBanner {
        -webkit-animation: animatein-resp-565 1000ms ease 2000ms !important;
        animation: animatein-resp-565 1000ms ease 2000ms !important;
        border-radius: 0 !important;
        border-top: 1px solid $purple-t;
        bottom: -500px !important;
        left: 0 !important;
        width: 100% !important;

        &.hide {
            -webkit-animation: animateout-resp-565 1000ms !important;
            animation: animateout-resp-565 1000ms !important;
        }

        &.show {
            bottom: 0 !important;
        }
    }
}

#CookieBanner {
    -webkit-animation: animatein 1000ms ease 2000ms;
    align-items: center;
    animation: animatein 1000ms ease 2000ms;
    background-color: $magenta-disabled;
    border-radius: 3px;
    bottom: 1em;
    color: $purple-active;
    display: flex;
    flex-direction: column;
    font-size: 12pt;
    left: -600px;
    line-height: 16pt;
    padding: 1em 2em;
    position: absolute;
    width: 500px;
    z-index: 999;

    &.hide {
        -webkit-animation: animateout 1000ms;
        animation: animateout 1000ms;
    }

    &.show {
        left: 2em;
    }

    .title {
        text-align: left;
        width: 100%;
        font-size: 16pt;
        text-transform: uppercase;
        margin: 10px;
        color: $magenta;
        font-weight: 700;
    }

    .action-group {
        margin: 10px 0 0 auto;

        a {
            margin-right: 10px;
        }
    }
}
